@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body * {
  font-family: var(--font-family);
}


.bg-2 {
  background-image: url('/home/bg-2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(20px);
  }

  &>div:first-child {
    background-color: rgba(255, 255, 255, .5);
  }
}
